@import url(reset.css);
@import url(fonts.css);

BODY {
	padding:4em 5em;
	background:#FFF;
	color:#000;
	font:18px 'PTSans',sans-serif;
	}
A {
	text-decoration:none;
	}

/* Slide
---------------------------------------- */
.slide {
	margin:0 0 3em;
	padding:0 0 2em;
	width:40em;
	border-bottom:1px dotted #BBB;
	}

/* Article */
.slide ARTICLE {
	}

/* Elements */
.slide ARTICLE H1,
.slide ARTICLE H2 {
	margin:0 0 1.2em;
	color:#555;
	font:1.6em/1 'PTSans Narrow',sans-serif;
	}
.slide ARTICLE P {
	margin:0 0 1em;
	}
.slide ARTICLE A {
	border-bottom:2px solid;
	color:#0174A7;
	}
.slide ARTICLE STRONG {
	font-weight:bold;
	}
.slide ARTICLE EM {
	font-style:italic;
	}

/* Quote */
.slide ARTICLE BLOCKQUOTE {
	font-style:italic;
	}
.slide ARTICLE BLOCKQUOTE:before {
	position:absolute;
	margin:-0.1em 0 0 -0.44em;
	width:2.5em;
	height:5em;
	color:#BBB;
	line-height:1;
	font-size:8em;
	content:'\201C';
	}
.slide ARTICLE BLOCKQUOTE:after {
	display:block;
	margin:0.5em 0 0;
	color:#444;
	text-align:right;
	font-weight:bold;
	content:attr(cite);
	}

/* Lists */
.slide ARTICLE OL,
.slide ARTICLE UL {
	margin:0 0 1em;
	counter-reset:list;
	}
	.slide ARTICLE OL LI,
	.slide ARTICLE UL LI {
		margin:0 0 0.4em;
		}
	.slide ARTICLE OL LI:before,
	.slide ARTICLE UL LI:before {
		position:absolute;
		width:2em;
		color:#BBB;
		text-align:right;
		}
	.slide ARTICLE UL LI:before {
		margin:-0.2em 0 0 -2.7em;
		line-height:1;
		font-size:1.6em;
		content:'\2022';
		}
	.slide ARTICLE OL LI:before {
		margin:0 0 0 -3em;
		counter-increment:list;
		content:counter(list)'\002E';
		}

/* Code */
.slide ARTICLE PRE {
	counter-reset:code;
	white-space:normal;
	}
	.slide ARTICLE PRE CODE {
		display:block;
		margin:0 0 0.4em;
		white-space:pre;
		font-family:Consolas,monospace;
		}
	.slide ARTICLE PRE CODE:before {
		position:absolute;
		margin:0 0 0 -2.7em;
		width:2em;
		color:#BBB;
		text-align:right;
		counter-increment:code;
		content:counter(code,decimal-leading-zero)'.';
		}
	.slide ARTICLE PRE EM,
	.slide ARTICLE PRE STRONG {
		padding:0.1em 0.3em;
		-webkit-border-radius:.3em;
		-moz-border-radius:.3em;
		border-radius:.3em;
		}
	.slide ARTICLE PRE EM {
		background:#FAFAA2;
		color:#000;
		font-style:normal;
		}
	.slide ARTICLE PRE STRONG {
		background:#C00;
		color:#FFF;
		font-weight:normal;
		}

/* Cover */
.slide.cover ARTICLE H1 {
	color:#C00;
	}

/* Back */
.slide.back IMG {
	display:block;
	margin:0 0 0.4em;
	width:100%;
	outline:1px dotted #BBB;
	}