// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------

.badge {

	// Box

	&__box {

		padding: 0 24px 12px;

		@include mq($from: palm) {
			padding: 0 36px 18px;
			}

		}

	// Field

	&__field {

		display: block;
		padding-bottom: 6px;
		width: 100%;
		outline: none;
		font-family: inherit;

		&::placeholder {
			color: #999;
			opacity: 1;
			}
		&:invalid {
			box-shadow: none;
			}

		// Line

		&--line {
			border: none;
			background: svg-load('../assets/images/circle.svg') 0 100% repeat-x;
			font-size: 24px;
			}

		// Text

		&--text {
			padding: 0 4px;
			border: 1px solid lighten($dark, 50%);
			background: lighten($blue, 45%);
			line-height: 1.6;
			font-size: 16px;
			}

		}

	// Checkbox

	&__hidden {
		position: absolute;
		clip: rect(0 0 0 0);
		}
	&__checkbox {
		position: relative;
		margin-right: 0.4em;
		margin-bottom: -0.15em;
		display: inline-block;
		width: 1em;
		height: 1em;
		box-shadow: 0 0 0 0.2em currentColor;
		color: $green;
		}
	&__hidden:checked + &__checkbox::before,
	&__hidden:checked + &__checkbox::after {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -0.1em;
		width: 0.2em;
		height: 100%;
		background-color: currentColor;
		transform-origin: 50% 50%;
		content: '';
		}
	&__hidden:checked + &__checkbox::before {
		transform: rotate(45deg);
		height: 80%;
		left: 60%;
		top: 10%;
		}
	&__hidden:checked + &__checkbox::after {
		transform: rotate(-45deg);
		top: 50%;
		height: 40%;
		left: 30%;
		}
	&__hidden:focus + &__checkbox {
		color: $blue;
		}
	&__checkbox-label::after {
		position: absolute;
		margin-top: 0.25em;
		margin-left: 0.25em;
		color: #c00;
		content: '*';
	}

	// Label

	&__label {
		display: block;
		margin-bottom: 24px;
		color: $dark;
		}

	// Required

	&__field[required] + &__label::before {
		position: absolute;
		margin-top: 0.25em;
		margin-left: -0.9em;
		color: #c00;
		content: '*';
		}

	}
