// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------

.badge {

	// Box

	&__box {

		padding:24px 24px 12px;

		@include mq($from:palm) {
			padding:36px 36px 18px;
			}

		// Hole

		&:before {

			display:block;
			margin:auto;
			background:$dark;
			content:'';

			@mixin sizing($size) {
				margin-top:$size / 2;
				margin-bottom:$size;
				width:$size * 4;
				height:$size;
				border-radius:$size;
				}

			@include sizing(18px);

			@include mq($from:palm) {
				@include sizing(24px);
				}

			}

		// Back

		&--back {
			background:lighten($blue, 45%);
			&:before {
				content:none;
				}
			}

		}

	// Label

	&__label {
		display:block;
		margin-bottom:24px;
		color:$dark;
		}

	// Field

	&__field {

		display:block;
		padding-bottom:6px;
		width:100%;
		outline:none;
		font-family:inherit;

		&::placeholder {
			color:#999;
			opacity:1;
			}
		&:invalid {
			box-shadow:none;
			}

		// Line

		&--line {
			border:none;
			background:svg('<svg xmlns="http://www.w3.org/2000/svg" width="10" height="4"><circle cx="2" cy="2" r="2" fill="%23416E87"/></svg>') 0 100% repeat-x;
			font-size:24px;
			}

		// Text

		&--text {
			padding:0 4px;
			border:1px solid lighten($dark, 50%);
			background:lighten($blue, 45%);
			line-height:1.6;
			font-size:16px;
			}

		}

	}
