// ------------------------------------------------------------------
// Badge
// ------------------------------------------------------------------

.badge {

	// Box

	&__box {

		padding:0 24px 12px;

		@include mq($from:palm) {
			padding:0 36px 18px;
			}

		// Hole

		&--hole {

			padding-top:24px;

			@include mq($from:palm) {
				padding-top:36px;
				}

			&::before {

				display:block;
				margin:auto;
				background:$dark;
				content:'';

				@mixin sizing($size) {
					margin-top:$size / 2;
					margin-bottom:$size;
					width:$size * 4;
					height:$size;
					border-radius:$size;
					}

				@include sizing(18px);

				@include mq($from:palm) {
					@include sizing(24px);
					}

				}

			}

		}

	// Field

	&__field {

		display:block;
		padding-bottom:6px;
		width:100%;
		outline:none;
		font-family:inherit;

		&::placeholder {
			color:#999;
			opacity:1;
			}
		&:invalid {
			box-shadow:none;
			}

		// Line

		&--line {
			border:none;
			background:svg-load('../assets/images/circle.svg') 0 100% repeat-x;
			font-size:24px;
			}

		// Text

		&--text {
			padding:0 4px;
			border:1px solid lighten($dark, 50%);
			background:lighten($blue, 45%);
			line-height:1.6;
			font-size:16px;
			}

		}

	// Label

	&__label {
		display:block;
		margin-bottom:24px;
		color:$dark;
		text-transform:lowercase;
		}

	// Required

	&__field[required] + &__label::before {
		position:absolute;
		margin:0.25em 0 0 -0.8em;
		color: #c00;
		content:'*';
		}

	}
