// ------------------------------------------------------------------
// Button
// ------------------------------------------------------------------

.button {

	display: block;
	margin: 0;
	outline: none;
	border: none;
	background: $green;
	color: #FFF;
	cursor: pointer;
	font-size: 18px;
	font-family: inherit;

	@include mq($from: palm) {
		font-size: 24px;
		}

	&:hover,
	&:focus {
		background: lighten($green, 7%);
		}
	&::-moz-focus-inner {
		border: none;
		}

	// Full

	&--full {
		padding: 0.75em 0;
		width: 100%;
		}

	}
