// ------------------------------------------------------------------
// Card
// ------------------------------------------------------------------

.card {

	display:flex;
	padding-bottom:24px;

	@include mq($from:palm) {
		padding-bottom:36px;
		}

	// Column

	&__column {

		order:-1;
		flex-shrink:0;
		width:30%;

		&--logo {

			padding-left:24px;

			@include mq($from:palm) {
				padding-left:36px;
				}

			}

		}

	// Picture

	&__picture {
		display:block;
		max-width:100%;
		}

	// Description

	&__description {

		margin-top:-6px;
		padding:0 24px;

		@include mq($from:palm) {
			padding:0 36px;
			}
		}

	}
