// ------------------------------------------------------------------
// Content
// ------------------------------------------------------------------

.content {

	// Block

	h3 {

		margin-bottom:12px;
		color:$dark;
		font-weight:500;

		@include mq($from:palm) {
			margin-bottom:18px;
			}

		}
	p {

		margin-bottom:12px;

		@include mq($from:palm) {
			margin-bottom:18px;
			}

		}

	// Inline

	strong, b {
		font-weight:bold;
		}
	em, i {
		font-style:italic;
		}
	a {
		color:$blue;
		}

	// Inline

	&--inline {

		margin-bottom:-12px;

		@include mq($from:palm) {
			margin-bottom:-18px;
			}

		}

	}
