// ------------------------------------------------------------------
// Global
// ------------------------------------------------------------------

body {
	background:$dark;
	color:#212121;
	font:16px/1.6 Ubuntu, sans-serif;
	}
a {
	color:#489DBD;
	text-decoration:none;
	}
