// ------------------------------------------------------------------
// Header
// ------------------------------------------------------------------

.header {

	background: darken($dark, 10%);

	@include mq($from: lap) {
		position: fixed;
		width: 384px;
		height: 100%;
		}

	}
