// ------------------------------------------------------------------
// Main
// ------------------------------------------------------------------

.main {

	min-height:100%;
	background:#FFF;

	@include mq($from:lap) {
		padding-left:384px;
		max-width:960px;
		}

	}
