// ------------------------------------------------------------------
// Map
// ------------------------------------------------------------------

.map {
	width: 100%;
}

.map--google {
	height: 500px;
}

.map--yandex {
	height: 450px;
}

.map__image {
	display: block;
	width: 100%;
}
