// ------------------------------------------------------------------
// Page
// ------------------------------------------------------------------

.page {

	background:$dark;
	color:#212121;

	// Full Height

	@include mq($from:lap) {
		&, &__body {
			height:100%;
			}
		}

	// Body

	&__body {
		margin:auto;
		max-width:1024px;
		font:16px/1.6 Ubuntu, sans-serif;
		}

	}
