// ------------------------------------------------------------------
// Social
// ------------------------------------------------------------------

.social {

	overflow:hidden;
	padding:0 0 24px 24px;

	@include mq($from:palm) {
		padding:0 0 36px 36px;
		}

	// Link

	&__link {

		float:left;
		margin-right:16px;
		width:24px;
		height:24px;

		// Active

		opacity:0.5;
		transition:opacity 0.2s linear;

		&:hover,
		&:focus {
			opacity:1;
			}

		// Icons

		background-position:0 50%;
		background-repeat:no-repeat;

		&--twitter {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#FFF"><path d="M15.96 3.42c-.04.153-.144.31-.237.414l-.118.058v.118l-.59.532-.237.295c-.05.036-.398.21-.413.237V6.49h-.06v.473h-.058v.294h-.058v.296h-.06v.235h-.06v.237h-.06c-.1.355-.197.71-.295 1.064h-.06v.114h-.06c-.02.1-.04.197-.058.296h-.06c-.04.12-.08.238-.118.356h-.06c-.04.118-.08.236-.118.353l-.118.06-.06.233-.117.06v.116l-.118.06v.12h-.06l-.06.174-.117.06v.117l-.177.12v.117l-.237.177v.118l-.59.53-.533.592h-.117c-.06.078-.117.156-.176.236l-.177.06-.06.118h-.118l-.06.118-.178.06v.058h-.118l-.06.118-.353.12-.06.117c-.077.02-.155.04-.234.056v.06c-.118.038-.236.078-.354.118v.058H8.76v.06h-.12v.06h-.176v.058h-.118v.06H8.17v.06h-.18v.06l-.413.057v.06H7.34c-.667.22-1.455.293-2.36.293h-.886v-.058h-.53v-.06H3.27v-.06h-.295v-.06H2.68v-.057h-.177v-.06h-.236v-.058H2.09v-.06h-.177V14.4h-.177v-.06H1.56v-.06h-.12v-.06l-.294-.06v-.056c-.118-.04-.236-.08-.355-.118v-.06H.676v-.058h-.12v-.06H.438v-.058H.32l-.06-.12H.142v-.058c-.13-.08-.083.026-.177-.118H1.56v-.06c.294-.04.59-.077.884-.117v-.06h.177v-.058h.24v-.06h.117v-.06h.177v-.06h.118v-.06h.178v-.057l.236-.06v-.058l.236-.06c.02-.038.04-.078.058-.117l.237-.06c.02-.04.04-.078.058-.118h.118l.06-.118h.12c.035-.025.046-.078.117-.118V12.1c-1.02-.08-1.84-.54-2.303-1.183-.08-.058-.157-.118-.236-.176v-.115l-.117-.06v-.117c-.115-.202-.268-.355-.296-.65.453.004.987.008 1.354-.06v-.06c-.253-.008-.47-.08-.65-.175v-.058h-.12v-.06c-.08-.02-.157-.04-.236-.058l-.06-.118h-.117l-.117-.18h-.12l-.236-.294-.118-.06V8.56l-.177-.12C.79 7.936.54 7.29.55 6.432h.06c.203.234.947.377 1.356.415v-.06c-.257-.118-.676-.54-.827-.768V5.9l-.12-.06C.98 5.723.94 5.604.9 5.486h-.06v-.118H.787c-.04-.196-.08-.394-.118-.59C.61 4.588.46 4.08.55 3.773h.06V3.36h.06v-.177h.06v-.177h.055V2.83h.06c.04-.118.078-.236.117-.355h.118v.06c.12.097.238.196.356.295v.118l.118.058c.08.098.157.197.236.295l.176.06.354.415h.118l.177.236h.118l.06.118h.117c.04.06.08.118.118.177h.118l.06.118.235.06.06.117.358.12.06.116.53.176v.06h.118v.058l.236.06v.06c.12.02.237.04.356.058v.06h.177v.058h.177v.06h.176v.058h.236v.06l.472.057v.06l1.417.18v-.235c-.1-.112-.057-.442-.056-.65 0-.573.15-.99.354-1.358V3.54l.12-.06.06-.236.175-.118v-.118c.14-.118.276-.236.414-.355l.06-.117h.116l.12-.177.235-.06.06-.12h.118v-.057H9.7v-.058h.177v-.06h.177v-.058h.177v-.06h.298V1.83h1.063v.058h.295v.06h.177v.058h.18v.06h.176v.058h.118v.06h.118l.06.117.236.06c.04.06.08.118.118.177h.118l.06.117c.142.133.193.163.472.178.136-.12.283-.05.472-.117v-.06h.177v-.058h.177v-.06l.236-.058v-.06h.177l.59-.353v.176h-.058l-.06.296h-.06v.116h-.06v.118l-.117.06v.12l-.177.117v.118l-.118.06-.354.412h-.117l-.177.236h.06c.13-.112.4-.053.59-.117l1.062-.354z"/></svg>');
			}
		&--vkontakte {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#FFF"><path d="M13 0H3C1 0 0 1 0 3v10c0 2 1 3 3 3h10c2 0 3-1 3-3V3c0-2-1-3-3-3zm.452 11.394l-1.603.022s-.348.068-.8-.243c-.6-.41-1.167-1.48-1.607-1.342-.446.147-.432 1.11-.432 1.11s.004.205-.1.314c-.11.12-.325.144-.325.144H7.87s-1.582.095-2.975-1.356C3.375 8.46 2.033 5.32 2.033 5.32s-.078-.206.006-.305c.09-.112.35-.12.35-.12l1.713-.01s.162.026.277.11c.096.07.15.202.15.202s.277.7.644 1.335C5.89 7.77 6.224 8.04 6.467 7.907c.353-.193.247-1.75.247-1.75s.006-.565-.178-.817c-.145-.194-.415-.25-.534-.267-.096-.012.062-.236.267-.336.31-.15.85-.16 1.495-.153.502.005.646.036.842.084.59.143.39.694.39 2.016 0 .42-.076 1.017.23 1.214.13.085.452.013 1.255-1.352.38-.647.666-1.407.666-1.407s.062-.137.16-.195c.1-.06.232-.04.232-.04l1.804-.01s.542-.065.63.18c.092.257-.203.857-.94 1.84-1.21 1.61-1.345 1.46-.34 2.394.96.89 1.16 1.324 1.192 1.38.4.66-.44.71-.44.71z"/></svg>');
			}
		&--github {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.901 29.216" fill="#FFF"><path d="M15 0C6.7 0 0 6.7 0 15c0 6.6 4.3 12.2 10.3 14.2.8.1 1-.3 1-.7v-2.6c-4.2.9-5.1-2-5.1-2-.7-1.7-1.7-2.2-1.7-2.2-1.4-.9.1-.9.1-.9 1.5.1 2.3 1.5 2.3 1.5 1.3 2.3 3.5 1.6 4.4 1.2.1-1 .5-1.6 1-2-3.3-.4-6.8-1.7-6.8-7.4 0-1.6.6-3 1.5-4-.2-.4-.7-1.9.1-4 0 0 1.3-.4 4.1 1.5 1.2-.3 2.5-.5 3.8-.5s2.6.2 3.8.5c2.9-1.9 4.1-1.5 4.1-1.5.8 2.1.3 3.6.1 4 1 1 1.5 2.4 1.5 4 0 5.8-3.5 7-6.8 7.4.5.5 1 1.4 1 2.8v4.1c0 .4.3.9 1 .7 6-2 10.2-7.6 10.2-14.2C30 6.7 23.3 0 15 0z"/></svg>');
			}
		&--facebook {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#FFF"><path d="M13 0H3C1 0 0 1 0 3v10c0 2 1 3 3 3h5V9H6V7h2V5c0-2 2-2 2-2h3v2h-3v2h3l-.5 2H10v7h3c2 0 3-1 3-3V3c0-2-1-3-3-3z"/></svg>');
			}
		&--google {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#FFF"><path d="M8 6.5v3h4.29c-.525 2.01-2.092 3.476-4.314 3.476C5.228 12.976 3 10.748 3 8c0-2.748 2.228-4.976 4.976-4.976 1.442 0 2.606.623 3.397 1.603L13.52 2.48C12.192.955 10.276 0 8 0 3.582 0 0 3.582 0 8s3.582 8 8 8 7.5-3.582 7.5-8V6.5H8z"/></svg>');
			}
		&--youtube {
			width:28px;
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 21.2" fill="#FFF"><path d="M29.7 4.6s-.3-2.1-1.2-3C27.4.4 26.1.4 25.5.3 21.3 0 15 0 15 0S8.7 0 4.5.3c-.6.1-1.9.1-3 1.3-.9.9-1.2 3-1.2 3S0 7 0 9.5v2.2c0 2.4.3 4.9.3 4.9s.3 2.1 1.2 3c1.1 1.2 2.6 1.2 3.3 1.3 2.4.2 10.2.3 10.2.3s6.3 0 10.5-.3c.6-.1 1.9-.1 3-1.3.9-.9 1.2-3 1.2-3s.3-2.4.3-4.9V9.5c0-2.5-.3-4.9-.3-4.9zm-17.8 9.8V6l8.1 4.2-8.1 4.2z"/></svg>');
			}
        &--slack {
			background-image:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.75 117.1"><title>slack</title><path d="M117.37 61.77l-.13-.42a10.07 10.07 0 0 0-9.72-6.75 10.71 10.71 0 0 0-3.3.56l-11.54 3.9-7.47-22.17 11.12-3.79c4.64-1.56 8.52-6.43 7-11.88l-.12-.4A10 10 0 0 0 93.43 14a11.31 11.31 0 0 0-3 .45l-11.48 3.83L75.14 7a10.25 10.25 0 0 0-19.58 6.08l.14.46 3.8 11.25-21.94 7.35-3.78-11.23A10.25 10.25 0 0 0 14.2 27l.14.46 3.77 11.21L7 42.38A10.2 10.2 0 0 0 .39 54.85c0 .15.09.31.14.47A9.74 9.74 0 0 0 10 62a10.88 10.88 0 0 0 3.39-.58l11.11-3.8 7.4 22-11.06 3.73a10.28 10.28 0 0 0-6.59 12.59l.15.47a9.72 9.72 0 0 0 9.52 6.59 11.5 11.5 0 0 0 3.54-.6l10.87-3.72 3.85 11.45a10.24 10.24 0 0 0 9.81 7A10.24 10.24 0 0 0 61.74 104c0-.15-.09-.31-.14-.45L57.71 92l21.9-7.49 3.93 11.67a10.23 10.23 0 0 0 9.8 7 10.46 10.46 0 0 0 3.18-.53 10.28 10.28 0 0 0 6.53-12.73l-.05-.28-4-11.76 12.13-4.15s3.77-1.63 5-3.49a10.56 10.56 0 0 0 1.24-8.47zM51.32 73L43.9 51l21.9-7.48 7.44 22.11z"/></svg>');
			}

		}

	// Text

	&__text {
		@include offscreen;
		}

	}
