// ------------------------------------------------------------------
// Social
// ------------------------------------------------------------------

.social {

	overflow:hidden;
	padding:0 0 24px 24px;

	@include mq($from:palm) {
		padding:0 0 36px 36px;
		}

	// Link

	&__link {

		float:left;
		margin-right:16px;
		width:24px;
		height:24px;

		// Active

		opacity:0.5;
		transition:opacity 0.2s linear;

		&:hover,
		&:focus {
			opacity:1;
			}

		// Icons

		background-position:0 50%;
		background-repeat:no-repeat;

		&--twitter {
			background-image:svg-load('../assets/images/twitter.svg');
			}
		&--vkontakte {
			background-image:svg-load('../assets/images/vkontakte.svg');
			}
		&--github {
			background-image:svg-load('../assets/images/github.svg');
			}
		&--facebook {
			background-image:svg-load('../assets/images/facebook.svg');
			}
		&--youtube {
			width:28px;
			background-image:svg-load('../assets/images/youtube.svg');
			}
        &--slack {
			background-image:svg-load('../assets/images/slack.svg');
			}

		}

	// Text

	&__text {
		@include offscreen;
		}

	}
