// ------------------------------------------------------------------
// Speakers
// ------------------------------------------------------------------

.speakers {

	// List

	&__list {

		overflow: hidden;
		background: lighten($blue, 45%);

		}

	// Speaker

	&__speaker {

		position: relative;
		float: left;
		padding-bottom: 25%;
		width: 25%;
		height: 0;
		box-shadow: -1px -1px lighten($dark, 50%) inset;

		@include mq($from: desk) {
			padding-bottom: 20%;
			width: 20%;
			}

		// Hidden

		&--hidden {
			display: none;
			}

		}

	// Name

	&__name {

		position: absolute;
		bottom: 0;
		z-index: 1;
		padding: 5px 5px 6px;
		width: 100%;
		background: rgba(#000, 0.5);
		opacity: 0;
		color: #FFF;
		line-height: 1;
		font-size: 12px;
		transition: opacity 0.2s linear;

		@include mq($from: desk) {
			font-size: 15px;
			}

		}

	// Picture

	&__picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		}

	// Hover

	&__speaker:hover &__name {
		opacity: 1;
		}

	}
