// ------------------------------------------------------------------
// Support
// ------------------------------------------------------------------

.support {
	display: inline-block;
	padding: 0.4em 0.8em;
	background: $green;
	font-size: 18px;

	@include mq($from: palm) {
		font-size: 24px;
	}
}

.support:hover,
.support:focus {
	background: lighten($green, 7%);
}

.content .support {
	color: #FFF;
}
