// ------------------------------------------------------------------
// Support
// ------------------------------------------------------------------

.support {

	display: flex;
	margin-bottom: 12px;

	@include mq($from: palm) {
		margin-bottom: 18px;
		}

	// Amount

	&__amount {
		margin: 0;
		padding-left: 52px;
		outline: none;
		border: 1px solid lighten($dark, 50%);
		border-radius: 6px 0 0 6px;
		border-right-width: 0;
		background: svg-load('../assets/images/card.svg') 10px 50% / auto 26px no-repeat;
		font-family: inherit;
		font-size: 18px;

		@include mq($from: palm) {
			font-size: 24px;
			}

		&:focus {
			border-color: $green;
			}
		}

	// Button

	&__button {
		padding: 10px 14px;
		border-radius: 0 6px 6px 0;
		}

	}
