// ------------------------------------------------------------------
// Up
// ------------------------------------------------------------------

.up {

	position:absolute;
	right:24px;
	margin-top:5px;
	width:20px;
	height:15px;
	background:svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 15"><polygon fill="%23A7CF40" points="10,0 20,15 0,15"/></svg>');
	opacity:0.5;

	&:hover {
		opacity:1;
		}

	@include mq($from:lap) {
		@include offscreen;
		}

	&__text {
		@include offscreen;
		}

	}
