// ------------------------------------------------------------------
// Up
// ------------------------------------------------------------------

.up {

	position:absolute;
	right:24px;
	margin-top:5px;
	width:20px;
	height:15px;
	background:svg-load('../assets/images/up.svg');
	opacity:0.5;

	&:hover {
		opacity:1;
		}

	@include mq($from:lap) {
		@include offscreen;
		}

	&__text {
		@include offscreen;
		}

	}
