// ------------------------------------------------------------------
// Video
// ------------------------------------------------------------------

.video {

	// Wrapper

	&__wrapper {
		position: relative;
		background: black;
		}

	// Media

	&__media {
		display: block;
		width: 100%;
		opacity: 0.5;
		}

	// Button

	&__button {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -32px 0 0 -45px;
		width: 90px;
		height: 64px;
		border: none;
		background: none;
		}

	// Icon

	&__icon {
		fill: #ffffff;
		}

	// Action

	&__button:focus {
		outline: none;
		}

	&__button:hover &__icon,
	&__button:focus &__icon {
		fill: $green;
		}

	// Caption

	&__caption {

		padding: 12px 24px;

		@include mq($from: palm) {
			padding: 18px 36px;
			}

		}

	}
