// ------------------------------------------------------------------
// Calendar
// ------------------------------------------------------------------

.calendar {

	position:relative;

	// Year

	&__year {

		position:absolute;
		right:0;
		padding:12px 24px;
		color:#999;

		@include mq($from:palm) {
			padding:18px 36px;
			}

		}

	// Event

	&__event {

		display:flex;
		padding:12px 24px;
		border-bottom:solid 1px lighten($dark, 50%);

		// Current

		&--current {
			border-color:lighten($green, 10%);
			background:lighten($green, 30%);
			color:darken($green, 10%);
			}

		@include mq($from:palm) {
			padding:18px 36px;
			}

		}

	// Time

	&__time {

		min-width:60px;

		&--date {
			min-width:108px;
			}

		}

	}
