// ------------------------------------------------------------------
// Defaults
// ------------------------------------------------------------------

// Colors

$green: #A7CF40;
$blue: #489DBD;
$dark: #416E87;
$black: #133544;

// Breakpoints

$mq-breakpoints: (
	palm: 480px,
	lap: 768px,
	desk: 1024px
);

// Offscreen

@mixin offscreen {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 0;
	height: 0;
	overflow: hidden;
	}
