// ------------------------------------------------------------------
// SVG sanitizer for data:uri
// ------------------------------------------------------------------
// See codepen.io/jakob-e/full/doMoML/ for details
// ------------------------------------------------------------------

@function svg($svg) {
	$encoded:'';
	$slice: 2000;
	$index: 0;
	$loops: ceil(str-length($svg)/$slice);
	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);
		$chunk: str-replace($chunk,'"','\'');
		$chunk: str-replace($chunk,'<','%3C');
		$chunk: str-replace($chunk,'>','%3E');
		$chunk: str-replace($chunk,'&','%26');
		$chunk: str-replace($chunk,'#','%23');
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $slice;
	}
	@return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(str-slice($string, $index +
			str-length($search)), $search, $replace);
	}
	@return $string;
}
