body {
	font-family: 'Droid Sans', 'DejaVu Sans', 'Gill Sans', Georgia, Helvetica, Arial, sans-serif;
	padding-bottom: 400px;
	/* ~ dark gray color ~ */
	/* background-color: #555555; */
	/* ~ light yellow color ~ */
	/* background-color: #fffddf; */
	/* ~ gray with diagonals ~ */
	/* background-color: #ededed;
	background-image: url(./grey-diagonals.gif); */
	/* ~ sky-to-sea gradient ~ */
	/*background: rgb(8,147,160);
    background: -moz-linear-gradient(top, rgba(8,147,160,1) 0%, rgba(32,110,153,1) 50%, rgba(22,91,137,1) 70%, rgba(26,82,124,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,147,160,1)), color-stop(50%,rgba(32,110,153,1)), color-stop(70%,rgba(22,91,137,1)), color-stop(100%,rgba(26,82,124,1)));
    background: -webkit-linear-gradient(top, rgba(8,147,160,1) 0%,rgba(32,110,153,1) 50%,rgba(22,91,137,1) 70%,rgba(26,82,124,1) 100%);
    background: -o-linear-gradient(top, rgba(8,147,160,1) 0%,rgba(32,110,153,1) 50%,rgba(22,91,137,1) 70%,rgba(26,82,124,1) 100%);
    background: -ms-linear-gradient(top, rgba(8,147,160,1) 0%,rgba(32,110,153,1) 50%,rgba(22,91,137,1) 70%,rgba(26,82,124,1) 100%);
    background: linear-gradient(top, rgba(8,147,160,1) 0%,rgba(32,110,153,1) 50%,rgba(22,91,137,1) 70%,rgba(26,82,124,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0893a0', endColorstr='#1a527c',GradientType=0 );*/
    /* ~ light-gold gradient ~ */
    background: rgb(229,222,181);
	background: -moz-linear-gradient(top, rgba(229,222,181,1) 0%, rgba(254,252,234,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,222,181,1)), color-stop(99%,rgba(254,252,234,1)));
	background: -webkit-linear-gradient(top, rgba(229,222,181,1) 0%,rgba(254,252,234,1) 99%);
	background: -o-linear-gradient(top, rgba(229,222,181,1) 0%,rgba(254,252,234,1) 99%);
	background: -ms-linear-gradient(top, rgba(229,222,181,1) 0%,rgba(254,252,234,1) 99%);
	background: linear-gradient(top, rgba(229,222,181,1) 0%,rgba(254,252,234,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5deb5', endColorstr='#fefcea',GradientType=0 );
    /* ~ dark blue gradient ~ */
    /*background: rgb(181,189,200);
    background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(68,110,147,1) 0%, rgba(35,85,137,1) 25%, rgba(40,52,59,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(0%,rgba(68,110,147,1)), color-stop(25%,rgba(35,85,137,1)), color-stop(100%,rgba(40,52,59,1)));
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(68,110,147,1) 0%,rgba(35,85,137,1) 25%,rgba(40,52,59,1) 100%);
	background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(68,110,147,1) 0%,rgba(35,85,137,1) 25%,rgba(40,52,59,1) 100%);
	background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(68,110,147,1) 0%,rgba(35,85,137,1) 25%,rgba(40,52,59,1) 100%);
	background: linear-gradient(top, rgba(181,189,200,1) 0%,rgba(68,110,147,1) 0%,rgba(35,85,137,1) 25%,rgba(40,52,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );*/
}

#preso {
	top: 60px;
}

#footer {
	top: 36px;
}

.slide {
	color: #003153;
	background-color: #ffffff;
	/* -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; */
    /* background-color: #fffefa; */
}

.content h1, .content h2 {
	text-shadow: 1px 1px 2px #dedede;
    filter: dropshadow(color=#dedede, offx=1, offy=1);
}

.content h2 {
	color: #08457e;
}

.subsection h1 {
	background: none repeat scroll 0 0 #08457e;
	text-shadow: none;
}

.content > ul {
	font-size: 2em;
	margin-left: 50px;
}

.content > ul > li {
	text-decoration: none;
	/* list-style-type: none; 
	list-style-image: url(list-image-target-blue.png); 
	list-style-position: inside 20px; */
	list-style-type: none;
    margin: 0.3em 0 0 0;
    padding-left: 40px; 
    background-image: url(list-image-target-blue.png);
    background-position: 0px 23px;
    background-repeat: no-repeat;
}

.bullets > ul {
	margin-left: 150px;
}

.bullets > ul > li {
	text-align: left;
    list-style-type: none;
    margin: 0.3em 0 0 0;
    padding-left: 40px; 
    background-image: url(list-image-target-blue.png);
    background-position: 0px 32px;
    background-repeat: no-repeat;
}

.content a {
	color: #960018;
}

.content span.legal-copy {
	position: absolute;
	bottom: 30px;
	left: 20px;
	font-size: 12px;
	color: #666;
}

pre code,
pre.sh_sourceCode .sh_string {
	font-family: 'Andale Mono', 'Droid Sans Mono', Monaco, monospace;
}

pre.sh_sourceCode {
	font-size: 1.80em;
	background-color: #fbfcf2;
	color: #003153;
	border-bottom: 20px solid #f3f3f3;
	padding: 5px;
}

pre.sh_sourceCode .sh_keyword {
	font-weight: normal;
	color: #cc5500;
}

pre.sh_sourceCode .sh_function {
	font-weight: normal;
	color: #960018;
}

pre.sh_sourceCode .sh_predef_func {
	font-weight: normal;
	color: #1a4780;
}

pre.sh_sourceCode .sh_comment {
	color: #aaaaaa;
	font-style: normal;
}

pre.sh_sourceCode .sh_symbol {
	color: #806b2a;
}

pre.sh_sourceCode .sh_string {
	color: #a5260a;	
}

pre.sh_sourceCode .sh_cbracket {
	color: #cfb53b;
}

pre.sh_sourceCode .sh-type {
	color: darkgreen;
}

.small-code pre.sh_sourceCode {
	font-size: 1em;
}

.not-fit h1 {
	top: -22px;
}

.cloning img {
	margin-top: -4px;	
	margin-left: 245px;
}

.making img {
	margin-top: -9px;
	margin-left: 245px;
}

.protochain pre {
	font-size: 1.9em;	
}

/* .contacts ul {
	font-family: 'Andale Mono', 'Droid Sans Mono', Monaco, monospace;
	font-size: 1.5em;	
} */

.contacts .label {
	color: #660000;
}

/* .cloning ul > li {
	text-align: center;
} */

/* .cloning ul > li {
	background-image: none;
	background-position: 0 0;
	padding-left: 0;
} */

/* FS: 1440x900;
   MAX: 1440x874 / 1440x802;
        1344x840
        1280x800
        1280x768
        1152x720
        1024x768
        1024x640
        800x600 */

@media screen and (min-height: 849px) {
	#preso {
		top: 60px;
		width: 1024px;
		height: 768px;
	}

	.slide {
		width: 1024px;
		height: 768px;
	} 

	body {
		padding-bottom: 450px;
	}

	.content span.legal-copy {
		bottom: 30px;
	}

}

@media screen and (min-height: 799px)
              and (max-height: 849px) {
	#preso {
		top: 15px;
		width: 1024px;
		height: 768px;
	}

	.slide {
		width: 1024px;
		height: 768px;
	}

	body {
		padding-bottom: 100px;
	}

	#footer {
		top: -9px;
	}

	.content span.legal-copy {
		bottom: 30px;
	}

}

@media screen and (min-height: 727px)
              and (max-height: 799px) {
	#preso {
		top: 0;
		width: 1024px;
		height: 728px;
	}

	.slide {
		width: 1024px;
		height: 728px;
	}

	body {
		padding-bottom: 50px;
	}

	#footer {
		top: -24px;
	}

	/* .content span.legal-copy {
		bottom: 70px;
	} */

}

@media screen and (min-height: 695px)
              and (max-height: 727px) {
	#preso {
		top: -20px;
		width: 1024px;
		height: 728px;
	}

	.slide {
		width: 1024px;
		height: 728px;
	}

	body {
		padding-bottom: 50px;
	}

	#footer {
		top: -56px;
	}

	pre.sh_sourceCode {
		font-size: 1.7em;
	}

}

@media screen and (min-height: 500px)
              and (max-height: 695px) {

	#preso {
		top: 0;
		width: 800px;
		height: 600px;
	}

	.slide {
		width: 800px;
		height: 600px;
	}

	body {
		margin-bottom: 200px;
		padding-bottom: 0;
	}

	#footer {
		top: -24px;
		width: 790px;
	}

	h1 {
		font-size: 3em;
		margin: 0.3em 0;
	}

	h2, h3, h4 {
		font-size: 2.0em;
	}

	.content > ul {
		font-size: 1.5em;
	}

	.content {
		font-size: 0.9em;
	}

	pre.sh_sourceCode {
		font-size: 1.5em;
	}

	.content > ul > li {
		background-position: 0 12px;
	}

	.bullets > ul > li {
		background-position: 0 25px;
	}
		
}
