/* Article
---------------------------------------- */
* + html .article {
	zoom:1;
	}

/* Twitter
---------------------------------------- */
* + html #twitter {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			t.insertAdjacentHTML(
				'beforeEnd',
				'<div class="after"></div>'
			);
		}(this)
	);
	}
	* + html #twitter .after {
		position:absolute;
		top:0;
		left:-40px;
		width:26px;
		height:35px;
		background:url(../i/twitter.png) repeat-x;
		}