{
"ele_efa_stage/${_Pacmanbottom}":"true",
"ele_efa_stage/${_Rectangle16}":"false",
"ele_efa_stage/${_ghost-red}":"false",
"ele_tl_color_${_bg}":"0x00bda4",
"ele_efa_stage/${_pacman-left}":"true",
"ele_tl_color_${_Rectangle5}":"0xeedf79",
"ele_efa_stage/${_Rectangle7}":"true",
"ele_tl_color_${_Pacmantop}":"0x008dc8",
"ele_tl_color_${_black2}":"0x008dc8",
"stage-Default Timeline_playhead_ms":"4952",
"ele_tl_color_${_Rectangle4}":"0xeedf79",
"HTMLFileName":"index_test.html",
"ele_efa_stage/${_pacman3}":"true",
"ele_tl_color_${_ghost-pink}":"0xdb619d",
"ele_efa_stage/${_ghost-blue}":"true",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"${_Rectangle2}\": [], \
                \"${_Rectangle16}\": [], \
                \"${_Pacmantop}\": [], \
                \"${_pacman}\": [], \
                \"${_Rectangle4}\": [], \
                \"${_Rectangle7}\": [], \
                \"${_ghost-pink}\": [], \
                \"${_Pacmanbottom}\": [], \
                \"${_ghost-red2}\": [], \
                \"${_ghost-blue}\": [], \
                \"${_Rectangle3}\": [], \
                \"${_Rectangle14}\": [], \
                \"${_pacman-bottom}\": [], \
                \"${_Rectangle3Copy2}\": [], \
                \"${_black3}\": [], \
                \"${_stage}\": [], \
                \"${_black2}\": [], \
                \"${_Rectangle4Copy}\": [], \
                \"${_ghost-orange}\": [], \
                \"${_Rectangle13}\": [], \
                \"${_pacman3}\": [], \
                \"${_Rectangle}\": [], \
                \"${_Rectangle10}\": [], \
                \"${_Rectangle8}\": [], \
                \"${_ghost-red}\": [], \
                \"${_Rectangle17}\": [], \
                \"${_pacman-left}\": [], \
                \"${_Rectangle3Copy1}\": [], \
                \"${_Rectangle15}\": [], \
                \"${_pacman2}\": [], \
                \"${_Rectangle2Copy}\": [], \
                \"${_Rectangle6}\": [], \
                \"${_bg}\": [], \
                \"${_black1}\": [], \
                \"${_Rectangle12}\": [], \
                \"${_Rectangle9}\": [], \
                \"${_Rectangle5}\": [], \
                \"${_Rectangle11}\": [], \
                \"${_Rectangle3Copy}\": [], \
                \"${_pacman-top}\": []\
            }\
      }\
   }}\
}",
"ele_efa_stage/${_Rectangle6}":"true",
"ele_tl_color_${_Rectangle16}":"0x00a9fa",
"ele_tl_color_${_pacman2}":"0x50bd82",
"ele_efa_stage/${_Rectangle11}":"true",
"ele_tl_color_${_pacman-top}":"0xffd46d",
"ele_locked_${_bg}":"false",
"ele_efa_stage/${_Rectangle9}":"true",
"ele_tl_color_${_stage}":"0xeedf79",
"ele_efa_stage/${_black1}":"true",
"ele_tl_color_${_Rectangle3Copy}":"0x00a9fa",
"ele_efa_stage/${_ghost-pink}":"true",
"ele_tl_color_${_Rectangle}":"0x2f73ad",
"pref__general__AutoKeyframeProperties":"true",
"ele_efa_stage/${_Rectangle}":"false",
"ele_efa_stage/${_ghost-orange}":"true",
"ele_tl_color_${_ghost-blue}":"0xfb657a",
"ele_tl_color_${_ghost-red2}":"0xceaef4",
"ele_tl_color_${_Rectangle10}":"0x50bd82",
"ele_efa_stage/${_pacman2}":"true",
"ele_ep_opened_${_stage}":"true",
"ele_tl_color_${_Rectangle14}":"0x00a096",
"ele_tl_color_${_pacman-left}":"0xeedf79",
"pref__general__FilterNonAnimatedElements":"true",
"ele_tl_color_${_Rectangle6}":"0xceaef4",
"ele_efa_stage/${_Rectangle5}":"true",
"ele_tl_color_${_Rectangle7}":"0xfb657a",
"ele_tl_color_${_Rectangle17}":"0x008dc8",
"ele_tl_color_${_pacman}":"0x91c767",
"ele_invisible_${_pacman2}":"false",
"ele_efa_stage/${_ghost-red2}":"true",
"ele_tl_color_${_Pacmanbottom}":"0x63599f",
"ele_efa_stage/${_Rectangle13}":"false",
"ele_tl_color_${_Rectangle9}":"0x91c767",
"ele_efa_stage/${_Rectangle15}":"false",
"ele_efa_stage/${_Pacmantop}":"true",
"ele_efa_stage/${_Rectangle4Copy}":"true",
"ele_tl_color_${_Rectangle12}":"0x50bd82",
"ele_efa_stage/${_Rectangle4}":"true",
"ele_tl_color_${_Rectangle8}":"0xeedf79",
"ele_efa_stage/${_Rectangle17}":"true",
"ele_efa_stage/${_black3}":"true",
"ele_efa_stage/${_Rectangle14}":"true",
"ele_tl_color_${_ghost-orange}":"0xffd46d",
"CompZoomFactor":"120.56325531006",
"ele_tl_color_${_Rectangle13}":"0x00bda4",
"viewStartMs":"2613.5558923457",
"ele_efa_stage/${_black2}":"true",
"ele_tl_color_${_Rectangle2}":"0xeedf79",
"ele_tl_color_${_Rectangle3}":"0x00a9fa",
"usedBOM":"false",
"timelineTree_opened_${_Rectangle4}":"false",
"pref__general__GenerateSmoothTransitions":"true",
"ele_tl_color_${_black3}":"0x63599f",
"ele_tl_color_${_black1}":"0x2f73ad",
"ele_efa_stage/${_pacman-top}":"true",
"ele_efa_stage/${_Rectangle3}":"true",
"ele_efa_stage/${_pacman-bottom}":"true",
"ele_efa_stage/${_Rectangle10}":"true",
"ele_tl_color_${_Rectangle11}":"0x91c767",
"ele_tl_color_${_ghost-red}":"0x63599f",
"ele_efa_stage/${_Rectangle2}":"true",
"TransitionIdCounter":"2829",
"ele_efa_stage/${_bg}":"false",
"pixelsPerMs":"0.31658029469421",
"ele_efa_stage/${_pacman}":"true",
"ele_efa_stage/${_Rectangle3Copy}":"true",
"stage-Default Timeline_mark_ms":"0",
"ele_efa_stage/${_Rectangle8}":"false",
"ele_tl_color_${_Rectangle15}":"0x2f73ad",
"ele_efa_stage/${_Rectangle12}":"true",
"ele_tl_color_${_pacman3}":"0x00a096",
"ele_efa_stage/${_stage}":"false",
"ele_tl_color_${_pacman-bottom}":"0xdb619d"}