{% extends "base.html" %}
{% block title %}{{ event.place.city }}, {{ event.date|day() }} {{ event.date|month() }} {{ event.date|year() }} года{% endblock %}

{% block main %}

<nav id="navigation">
    <ul>
        {% if schedule %}
            <li><a href="#schedule">Программа встречи</a></li>
        {% endif %}

        {% if speakers %}
            {% if event.partners %}
                <li><a href="#speakers">Участники и партнёры</a></li>
            {% else %}
                <li><a href="#speakers">Участники</a></li>
            {% endif %}
        {% endif %}

        {% if show_registration %}
            <li><a href="#register">Регистрация</a></li>
        {% endif %}

        {% if event.place.coord %}
            <li><a href="#location">Место проведения</a></li>
        {% endif %}
    </ul>
</nav>

<article id="intro" class="article">
    <header>
        <h1>{{ event.place.city }}, {{ event.date|day() }} {{ event.date|month() }} {{ event.date|year() }} года</h1>
    </header>
    {% if event.description %}
        {% if event.archived %}
            {{ event.description.after|safe() }}
        {% else %}
            {{ event.description.before|safe() }}
        {% endif %}
    {% endif %}

    <script src="//yandex.st/share/share.js"></script>
    <p class="share-buttons yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,lj,twitter"></p>
</article>

{% if schedule %}
<article id="schedule" class="article">
    <header>
        <h2>Программа встречи</h2>
        <a href="#main" title="Наверх" class="top">Наверх</a>
    </header>
    <ol class="schedule">
        {% for item in schedule.presentations %}
            {% if item.presentation %}
            <li>
                <time>{{ item.time }}</time>
                    <dl>
                        <dt>{{ item.presentation.title }}</dt>
                        <dd>{{ item.presentation.description|safe() }}
                            {% if item.presentation.file %}
                            <a href="/pres/{{ item.presentation.file.name }}">Презентация, {{ item.presentation.file.type }} {{ item.presentation.file.size|filesize() }}</a>
                            {% endif %}
                        </dd>
                    </dl>

                    {% for speaker in item.presentation.speakers %}
                        <a href="#{{ speaker }}">{{ speakers_dict[speaker] }}</a>{% if loop.last %} {% else %},
                        {% endif %}
                    {% endfor %}
            </li>
            {% else %}
            <li class="break">
                <time>{{ item.time }}</time> {{ item.title }}
            </li>
            {% endif %}
        {% endfor %}
    </ol>
    {% if schedule.comment %}
        {% if not event.archived %}
            {{ schedule.comment.before|safe }}
        {% else %}
            {{ schedule.comment.after|safe }}
        {% endif %}
    {% endif %}
</article>
{% endif %}

{% if speakers %}
<article id="speakers" class="article">
    <header>
        {% if event.partners %}
            <h2>Участники и партнёры</h2>
        {% else %}
            <h2>Участники</h2>
        {% endif %}
        <a href="#main" title="Наверх" class="top">Наверх</a>
    </header>

    {% for speaker in speakers %}
    <dl id="{{ speaker.id }}" class="card">
        <dt>{{ speaker['firstName'] }} {{ speaker['lastName'] }}{% if speaker['twitter'] %} <a href="http://twitter.com/{{ speaker['twitter'] }}">@{{ speaker['twitter'] }}</a>{% endif %}</dt>
        <dd>
            <img src="/static/speakers/{{ speaker.id }}.jpg" alt="{{ speaker['firstName'] }} {{ speaker['lastName'] }}">
            {{ speaker['bio']|safe() }}
        </dd>
    </dl>
    {% endfor %}

<hr>
{% endif %}

{% for categories in event.partners %}
    {% for category in categories %}
        <h3>{{ category }}</h3>
        {% for partner in categories[category] %}
            {% if partners[partner] is defined %}
            <dl id="partner" class="card">
                <dt><a href="{{ partners[partner].sitename }}">{{ partners[partner].title }}</a></dt>
                <dd>
                    <a href="{{ partners[partner].sitename }}"><img src="/static/partners/{{ partner }}.png" alt="{{ partners[partner].title }}"></a>
                    {{ partners[partner].description|safe() }}
                </dd>
            </dl>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

</article>

{% if show_registration %}
<article id="register" class="article">
    <header>
        <h2>Регистрация</h2>
        <a href="#main" title="Наверх" class="top">Наверх</a>
    </header>
    {% if event.registration.custom %}
        {{ event.registration.custom|safe() }}
    {% else %}
        <form action="" method="POST">
        {{ registration_form.hidden_tag() }}
        {% include "__registration_form.html" %}
        <input type="submit" value="Зарегистрироваться">
        </form>
    {% endif %}

</article>
{% endif %}

{% if event.place.coord %}
<article id="location" class="article">
    <header>
        <h2>Место проведения</h2>
        <a href="#main" title="Наверх" class="top">Наверх</a>
    </header>
    <p id="map"><img src="http://static-maps.yandex.ru/1.x/?ll={{ event.place.coord }}&amp;size=360,360&amp;z={{ event.place.zoom }}&amp;l=map&amp;pt={{ event.place.coord }},pm2orgl&amp;key=AIRHgE8BAAAA8ZWwHwIAmGnk_6mYfhSGNKGXGnXQvkl-l6IAAAAAAAAAAABVD9wC7PE13de3TAxuXNzFvh-T-g==" alt="Карта места проведения встречи"></p>
    {% if event.place.description %}
        {% if event.archived %}
            {{ event.place.description.after|safe() }}
        {% else %}
            {{ event.place.description.before|safe() }}
        {% endif %}
    {% endif %}
</article>
{% endif %}

{% endblock %}
