html{
  width:100%;
  height:100%;
  }

body{
  height:100%;
  width:100%;
  background-color:#fff;
  font: 20px/24px 'PT Sans',sans-serif;
  }
  .slides{
    min-height:100%;
    width:100%;
    overflow:hidden;
    }