.multimedia-author-widget{
  background: white url("../img/text-wrapper-bg.png") 0 1px repeat-x;
  display: block;
  overflow: hidden;
  padding: 31px 0 25px;
  }
  .multimedia-author-widget .tag-widget{
    background:none; 
    border-top:4px #000 solid;
    padding-top:0;
    }  
  .multimedia-author-widget .author-widget{
    background:none;
    border-top: 1px dotted #B7B7B7;
    padding-top: 14px;
    margin: 0 0 0 15px;
    font: normal 13px/18px 'PT Sans',Arial,sans-serif;
    }
    .multimedia-author-widget .author-widget .show-more{
      margin:0;
      border-style:none;
      padding:0;
      font: italic 13px/18px 'PT Sans',Arial,sans-serif;
      }
    .multimedia-author-widget .author-widget .name{
      padding: 0 0 10px;
      font: bold 24px/24px 'PT Sans Caption',Arial,sans-serif;
      position: relative;
      z-index: 4;
      }
    .multimedia-author-widget .author-widget .avatar{
      float:right;
      margin: 0 0 0 15px;
      }