.sphere-people-widget{
  background-color:#FFF;
  margin:0 0 15px 0;
  border-top:4px solid #ee1c24;
  padding:0 0 0 10px;
  position:relative;
  zoom:1;
  }
  .sphere-people-widget .avatar{
    display:inline-block;
    margin:0 6px 6px 0;
    width:100px;
    height:100px;
    overflow:hidden;
    }
    .sphere-people-widget .avatar img{
      display:block;
      width:100px;
      height:100px;
      }
  .sphere-people-widget .show-more{
    clear:both;
    display:block;
    font:italic 13px/50px 'PT Sans',Arial,sans-serif;
    border-top:1px dotted #b7b7b7;
    margin:10px 10px 0 0;
    }
  .sphere-people-widget .filter{
    height:45px;
    }
    .sphere-people-widget .filter .link-select{
      font:bold 16px/45px 'PT Sans',Arial,sans-serif;
      text-decoration:none;
      border-bottom:1px dotted #0056a4;
      }
    .sphere-people-widget .filter .title{
      display:inline;
      margin:0 5px 0 0;
      font:bold 18px/45px 'PT Sans Caption',Arial,sans-serif;
      }
    .sphere-people-widget .filter button{
      position:absolute;
      top:-9000px;
      left:-9000px;
      }
    .sphere-people-widget .filter .view{
      position:absolute;
      top:10px;
      right:10px;
      }
      .sphere-people-widget .filter .view label.afterSelectedRadio,
      .sphere-people-widget .filter .view input:checked+label{
        background-color:#919191;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#9d9d9d));
      	background: -moz-linear-gradient(top, #7d7d7d 0%, #9d9d9d 100%);
      	background: -o-linear-gradient(top, #7d7d7d 0%, #9d9d9d 100%);
      	background: linear-gradient(top, #7d7d7d 0%, #9d9d9d 100%);
        }
      * html body .sphere-people-widget .filter .view label.afterSelectedRadio{
        background-color:#919191;
        }
      .sphere-people-widget .filter .view label{
        text-align:left;
        padding:0 20px 0 5px;
        margin:0 -1px 0 0;
        display:block;
        float:left;
        cursor:pointer;
        min-width:55px;
        }
        * html .sphere-people-widget .filter .view label{
          width:55px;
          }
      .sphere-people-widget .filter .view input{
        position:absolute;
        top:-9000px;
        left:-9000px;
        } 